/* @import "aos/dist/aos.css"; */
@import "tailwindcss";

/* Base Styles */
body {
  background-color: #f8fafc;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Utility Classes */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Glassmorphism utility class */
.glass-effect {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
